@font-face {
    font-family: 'TheLedDisplaySt';
    font-style: normal;

    src: local('TheLedDisplaySt'), url('../../TheLedDisplaySt.woff') format('woff');
}

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --vt-c-background: "#1E232B";
    --vt-c-background-soft: "#2A2E34";
    --vt-c-background-mute: "#3B3F46";

    --vt-c-border: "#EC9C04";
    --vt-c-border-hover: "#F5B301";

    --vt-c-text: "#FED053";
}

/** #1E232B #2A2E34 #3B3F46 #EC9C04 #F5B301 #FED053 **/
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-background);
        --color-background-soft: var(--vt-c-background-soft);
        --color-background-mute: var(--vt-c-background-mute);

        --color-border: var(--vt-c-border);
        --color-border-hover: var(--vt-c-border-hover);

        --color-heading: var(--vt-c-text);
        --color-text: var(--vt-c-text);


    }

    --p-tabs-tab-active-border-color: var(--vt-c-text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}


body {
    min-height: 100vh;
    color: #FED053;
    background: #1E232B;
    transition: color 0.5s,
    background-color 0.5s;
    font-family: Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

